@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,100;1,400&display=swap');

img{
    height: fit-content;
}

.content{
    padding-left: 10px;
    padding-right: 10px;
}

.region region-sidebar-second{
    float: right;
    padding-left: 10px;
}

.parent {
    margin: 1rem;
    padding: 2rem 2rem;
  }
  .child {
    display: inline-block;
    padding: 1rem 1rem;
    vertical-align: middle;
  }