@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Mountains+of+Christmas&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

.wrapper .top_nav {
  margin-top: 5px;
  width: 100%;
  height: 65px;
  background: #fff;
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .top_nav .left {
  display: flex;
  align-items: center;
}

.wrapper .top_nav .left .logo {
  width: 150px;
  margin-right: 25px;
}

.wrapper .top_nav .left .search_bar input[type="text"] {
  background-color: solid #666666;
  padding: 5px 10px;
  outline: none;
  transition: all 0.5s linear;
}

.wrapper .top_nav .left .search_bar input[type="text"]:focus {
  width: 250px;
}

.wrapper .top_nav .right ul {
  display: flex;
}

.wrapper .top_nav .right ul li {
  margin: 0 12px;
}

.wrapper .top_nav .right ul li:last-child {
  background: #37a000;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.wrapper .top_nav .right ul li:hover:last-child {
  background: #494949;
}

.wrapper .top_nav .right ul li a {
  display: block;
  padding: 8px 10px;
  color: #666666;
}

.wrapper .top_nav .right ul li:last-child a {
  color: #fff;
}

.wrapper .bottom_nav {
  width: 100%;
  background: #f9f9f9;
  height: 45px;
  padding: 0 100px;
}

.wrapper .bottom_nav ul {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .bottom_nav ul li {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 12px;
}

.bottom_nav ul li ul {
  display: none;
  z-index: 10;
}
.wrapper .bottom_nav ul li:hover > ul {
  display: block;
  position: absolute;
  padding-top: 5px;
}

.navflex {
  display: flex;
  justify-content: space-between;
}

.right .navflex .a {
  background: #37a000;
  margin-right: 0;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.bottom_nav {
  width: 860px;
  margin: 0 auto;
}

.bottom_nav ul li {
  background: #dddddd;
  width: 170px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  position: relative;
}

.bottom_nav ul li:hover {
  background: #fd650d;
}
.bottom_nav ul li:hover > ul {
  display: none;
}
